asgiref==3.8.1
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
decorator==4.4.2
Django==5.2
django-phonenumber-field==8.1.0
google-api-core==2.24.1
google-api-python-client==2.48.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
Google-Images-Search==1.4.7
googleapis-common-protos==1.69.0
gTTS==2.5.4
httplib2==0.22.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
moviepy==1.0.3
numpy==2.2.3
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
phonenumbers==9.0.5
pillow==10.4.0
proglog==0.1.10
proto-plus==1.26.0
protobuf==5.29.3
psutil==7.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyfiglet==0.8.post1
pygame==2.6.1
pyparsing==3.2.1
python-decouple==3.8
python-dotenv==1.0.1
python-resize-image==1.1.20
requests==2.32.3
rsa==4.9
six==1.17.0
sqlparse==0.5.3
termcolor==1.1.0
tqdm==4.67.1
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.3.0
