{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="container-login100">
        <div class="cancel">
            <div class="card">
                <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
                    <i class="checkmark">x</i>
                </div>
                <h1>Cancelled</h1> 
                <p>You cancelled the transaction.<br>Please try later</p>
            </div>
        </div>
    </div>
{% endblock %}