{% extends 'base.html' %}
{% load static %}
{% block body %}	
	<div class="limiter">
		<div class="container-login100">			
			<div class="wrap-login100">
				<div class="wrap-logo100">ASAPpay</div>
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'images/img-01.png' %}" alt="IMG">
				</div>

				<form class="custom-form login100-form validate-form" method="post" role="form">
					{% csrf_token %}
					<span class="login100-form-title">
						Forgot Password
					</span>
					{% if errmsg %}
						<div class="alert alert-warning alert-dismissible fade show" role="alert">
						<strong>error!</strong> {{errmsg}}.
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					{% endif %}

					

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" name="uemail" id="LogieEmail" type="email" placeholder="Email"  aria-describedby="emailHelp" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					
					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Submit
						</button>
					</div>					
				</form>
			</div>
		</div>
	</div>
{% endblock %}