{% extends 'base.html' %}
{% load static %}
{% block body %}	
	<div class="limiter">
		<div class="container-login100">			
			<div class="wrap-login100">
				<div class="wrap-logo100">ASAPpay</div>
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'images/img-01.png' %}" alt="IMG">
				</div>

				<form class="custom-form login100-form validate-form" method="post" role="form">
					{% csrf_token %}
					<span class="login100-form-title">
						Forgot Password
					</span>
					{% if errmsg %}
						<div class="alert alert-warning alert-dismissible fade show" role="alert">
						<strong>error!</strong> {{errmsg}}.
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					{% endif %}

					<div class="wrap-input100 validate-input" data-validate = "Otp is required">
                        <input class="input100" type="number"  id="registerotp" name="otp" required placeholder="Enter otp">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-key" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "User Name is required">
						<input class="input100" name="uname" id="registerusername" type="text" placeholder="User Name"  aria-describedby="emailHelp" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="upass" id="registerpassword" placeholder="Password" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Confirm Password is required">
						<input class="input100" type="password" name="ucpass" id="registercpassword" placeholder="Confirm Password" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					
					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Reset Password
						</button>
                        <button><a href="{% url 'index' %}">Cancel</a></button>
					</div>					
				</form>
			</div>
		</div>
	</div>
{% endblock %}